@model fstCopy_Proj5.Models.DATE

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>DATE</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.startDateNominate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.startDateNominate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDateNominate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDateNominate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.startDateOfElection)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.startDateOfElection)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDateOfElection)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDateOfElection)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
